In [1]:
import warnings

warnings.filterwarnings("ignore")
# libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# pd.options.display.max_columns=200
#pd.options.display.max_rows=200

In [2]:
# loading the dataset
cc=pd.read_csv("data_credit_card_customer_seg.csv")
cc.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [3]:
#df.dropna(subset=['Name'])

cc=cc.dropna(subset=["CREDIT_LIMIT"])

# dropping the one row of null value.

cc["MINIMUM_PAYMENTS"]=cc["MINIMUM_PAYMENTS"].fillna(0)

In [4]:
# null values
cc.isnull().sum()

CUST_ID                             0
BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
TENURE                              0
dtype: int64

In [15]:
# Making a dataset of customers that pay in EMI
'''
#ccnull[ccnull["MINIMUM_PAYMENTS"].isnull() & ccnull["PAYMENTS"]!=0]
# Giving Error
'''
# df.loc[(df.C > 0.25) | (df.C < -0.25)]

cc_nemi=cc.loc[(cc.TENURE!=12) & (cc.PURCHASES_TRX!=12)& ((cc.INSTALLMENTS_PURCHASES==0)|(cc.INSTALLMENTS_PURCHASES==0))].reset_index(drop=True)

In [16]:
# DAta Set of EMI Customers.
cc_nemi.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10017,2072.074354,0.875000,0.00,0.00,0.0,2784.274703,0.000000,0.000000,0.0,0.250000,3,0,3000.0,391.974562,376.579631,0.0,8
1,C10025,5368.571219,1.000000,0.00,0.00,0.0,798.949863,0.000000,0.000000,0.0,0.363636,4,0,6000.0,1422.726707,1657.002877,0.0,11
2,C10037,7427.076941,1.000000,0.00,0.00,0.0,8873.375046,0.000000,0.000000,0.0,0.727273,11,0,9000.0,1636.361601,1986.843608,0.0,11
3,C10055,464.674156,0.888889,1979.22,1979.22,0.0,1981.265503,0.666667,0.666667,0.0,0.111111,1,11,3000.0,3110.052742,132.446091,0.2,9
4,C10060,3971.138765,1.000000,0.00,0.00,0.0,224.575517,0.000000,0.000000,0.0,0.181818,3,0,4000.0,764.938728,1600.212243,0.0,11

In [18]:
cc_nemi.shape

(755, 18)

In [8]:
cc_emi.columns

Index(['CUST_ID', 'BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE',
       'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY',
       'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY',
       'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS',
       'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE'],
      dtype='object')

In [10]:
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA